@{
    ViewData["Tite"] = "Success";
}
<h1>You successfully remove a product!</h1>

<div>
    <a asp-action="Delete">Delete product</a>
</div>

<div>
    <a asp-action="Index">List all product</a>
</div>

